<div style="color: white; align-items:center; height: 600px;">
    <h1>PAGAMENTOS REALIZADOS</h1>
    <table style="border: 3px solid black; border-collapse: collapse;">
        <tr>
            <td>id</td>
            <td>data que foi pago</td>
            <td>valor pago</td>
            <td>id cliente</td>   
            <td>id mensalidade</td>
            <td>editar</td>        
        </tr>
        {{#each calendario}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.data_pag}}</td>
                <td>{{this.valor_pag}}</td>
                <td>{{this.id_clie}}</td>
                <td>{{this.id_mensal}}</td>
                <td><a href="/edicao-pagamento/{{this.id}}">editar</a></td>
                <td><form action="/deletar-pagamento" method="POST">
                <input type="hidden" value="{{this.id}}" name="id">
                <input type="submit" value="apagar"></form></td>
            </tr>
        {{/each}}
    </table>
</div>